dist/blocks/footer.html

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__logo"><a class="footer__logo-link" href="#"></a><img class="footer__logo-img" src="assets/images/static/footer-logo.svg" alt=""/></div>
    <div class="footer__soc">
      <div class="footer__soc-item"><a class="footer__soc-link" href="#"></a>
        <div class="footer__soc-icon footer__soc-icon--fb"></div>
        <div class="footer__soc-name">Facebook</div>
      </div>
      <div class="footer__soc-item"><a class="footer__soc-link" href="#"></a>
        <div class="footer__soc-icon footer__soc-icon--tw"></div>
        <div class="footer__soc-name">Twitter</div>
      </div>
      <div class="footer__soc-item"><a class="footer__soc-link" href="#"></a>
        <div class="footer__soc-icon footer__soc-icon--vk"></div>
        <div class="footer__soc-name">Vkontakte</div>
      </div>
    </div><a class="footer__phone" href="#">8 800 555-28-35</a>
  </div>
  <div class="footer__copy"><a class="footer__copy-link" href="#"></a>
    <div class="footer__copy-text">Разработка сайта - </div><img class="footer__copy-image" src="assets/images/static/logo-cake-w.svg" alt=""/>
  </div>
</footer>

src/templates/blocks/footer.pug
footer.footer
	div.footer__inner
		div.footer__logo
			a(href="#").footer__logo-link
			img(src="assets/images/static/footer-logo.svg", alt="").footer__logo-img
		div.footer__soc
			div.footer__soc-item
				a(href="#").footer__soc-link
				div.footer__soc-icon.footer__soc-icon--fb
				div.footer__soc-name Facebook
			div.footer__soc-item
				a(href="#").footer__soc-link
				div.footer__soc-icon.footer__soc-icon--tw
				div.footer__soc-name Twitter
			div.footer__soc-item
				a(href="#").footer__soc-link
				div.footer__soc-icon.footer__soc-icon--vk
				div.footer__soc-name Vkontakte

		a(href="#").footer__phone 8 800 555-28-35

	div.footer__copy
		a(href="#").footer__copy-link
		div.footer__copy-text Разработка сайта - 
		img(src="assets/images/static/logo-cake-w.svg", alt="").footer__copy-image
