src/templates/blocks/header.pug
header.header
	div.header__inner
		div.header__left
			a(href="#").link.link--back
		div.header__logo
			div.header_logo-inner
				a(href="#").header__logo-link
				img(src="assets/images/static/header-logo.svg", alt="").header__logo-image
		div.header__right
			a(href="#" data-anchor='check').button.button--brown Проверить выигрыш

		div.header__nav
			div.header__nav-button
				a(href="#" data-anchor='check').button.button--brown Проверить выигрыш
			div.header__nav-links
				a(href="#" data-anchor='about').header__nav-link Об акции
				a(href="#" data-anchor='how').header__nav-link Как это работает
				a(href="#" data-anchor='exa').header__nav-link Приведем пример
				a(href="#" data-anchor='winners').header__nav-link Победители
				a(href="#" data-anchor='info').header__nav-link Информация

		div.burger
			div.burger__bar
			div.burger__bar
			div.burger__bar

dist/blocks/header.html

<header class="header">
  <div class="header__inner">
    <div class="header__left"><a class="link link--back" href="#"></a></div>
    <div class="header__logo">
      <div class="header_logo-inner"><a class="header__logo-link" href="#"></a><img class="header__logo-image" src="assets/images/static/header-logo.svg" alt=""/></div>
    </div>
    <div class="header__right"><a class="button button--brown" href="#" data-anchor="check">Проверить выигрыш</a></div>
    <div class="header__nav">
      <div class="header__nav-button"><a class="button button--brown" href="#" data-anchor="check">Проверить выигрыш</a></div>
      <div class="header__nav-links"><a class="header__nav-link" href="#" data-anchor="about">Об акции</a><a class="header__nav-link" href="#" data-anchor="how">Как это работает</a><a class="header__nav-link" href="#" data-anchor="exa">Приведем пример</a><a class="header__nav-link" href="#" data-anchor="winners">Победители</a><a class="header__nav-link" href="#" data-anchor="info">Информация</a></div>
    </div>
    <div class="burger">
      <div class="burger__bar"></div>
      <div class="burger__bar"></div>
      <div class="burger__bar"></div>
    </div>
  </div>
</header>
